.build-local

# Xcode / Apple
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# PM
Pods/
.build/
.swiftpm/
.swift-module-cache/
.localhome/
binaries/SweetNativeCore.xcframework/


# Playgrounds
timeline.xctimeline
playground.xcworkspace
